.product {
  margin: 2rem;
  background-color: rgba(5, 5, 5, 0.671);
  color: white;
  box-shadow: 2px 2px 4px black;
  font-size: 20px;
  width: 300px;
  height: 200px;
}

button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
  margin: 6px;
}

button:hover {
  opacity: 0.7;
  color: black;
}
