.main {
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.61);
  width: 100%;
  padding: 1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

body {
  background-color: cadetblue;
}
